# --- Core del Proyecto ---
citylearn
numpy==1.21.6
pandas
scikit-learn==1.2.2
gymnasium

# --- Análisis y Notebooks ---
matplotlib
seaborn
notebook
tqdm

# --- Configuración y Dashboard ---
pyyaml
streamlit
plotly