# Primero, las dependencias numéricas clave con versiones compatibles
numpy==1.26.*
pandas

# Luego, la dependencia de machine learning que sabemos que es conflictiva
scikit-learn

# Ahora, la librería principal del proyecto
CityLearn==2.0.0

# Finalmente, el resto de herramientas
gymnasium 
matplotlib 
seaborn 
notebook 
tqdm 
pyyaml 
streamlit 
plotly